/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: #ccc;
}

a:link    { color: #ddd }  /* unvisited links */
a:visited { color: #ccc }  /* visited links   */
a:hover   { color: #fff }  /* user hovers     */
a:active  { color: #fff }  /* active links    */

.currentlink {
  color: #aaa;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

body, table, td, th {
  font-family: futura;
}

.count {
  color: grey;
  font-size: 10px;
}

.word {
  white-space:nowrap;
  font-size: 25px;
}

.jlpt {
  color: grey;
  font-size: 15px;
}

.examples {
  font-size: 20px;
  line-height: 22px;
  position: relative;
  margin-left: 10px;
}

.examples > div {
  position: absolute;
}

.padtop {
  margin-top: 10px;
}

.dialogarrow {
  position: absolute;
  left: -16px;
  top: 2px;
}

.signature {
  text-align: right;
}