<div class="navlinks">
  <a href="#/">home</a>
</div>

<div class="episodename">
  <a href="#/guide/{{source}}">{{source}}</a>, Season 1
</div>
<div>
  <span ng-repeat="other in episodes">
    <span ng-if="other!=episode">
      <a href="#/guide/{{source}}/episode/{{other}}">
      [{{other}}]
      </a>
    </span>
    <span ng-if="other==episode">
      [{{other}}]
    </span>
  </span>
<div>

<div class="episodetitle">
<h1>
  {{episodeInfo.KanjiTitle}}
</h1>
<div>
  {{episodeInfo.EnglishTitle}}
</div>
</div>

<div>
<a class = "episodewordsbutton summary"
  href="#/guide/{{source}}/episode/{{episode}}/"
  style="color:white"
  >
  Summary
</a>
<a ng-repeat="vocDomain in vocDomains"
  class = "episodewordsbutton" ng-class="[vocDomain.key]"
  href="#/guide/{{source}}/episode/{{episode}}/{{vocDomain.key}}"
  style="color:white">
    {{vocDomain.title}}
    <div class="sublabel">{{vocabularyLists[vocDomain.key].length}} words</div>
</a>
</div>

