<div class="episode">
<episode-nav></episode-nav>
  
<div ng-if="vocabularyLists">
  <table ng-class="'{{listname}}'">
    <tr>
      <th>Example</th>
      <th>Word</th>
      <th>Definition(s)</th>
    </tr>
    <tr ng-repeat="entry in vocabularyLists[listname]"
      ng-class="'defrow_' + ($index % 2)"
      >
      <td class="example" ng-class="{'known': entry.known}"
      >{{entry.example.parts[0]}}<span class="example-highlight"
      >{{entry.example.parts[1]}}</span>{{entry.example.parts[2]}}</td>
      <td class="word" ng-class="{'known': entry.known}">
        {{entry.word}}
      </td>
      <td>
        <div class="wordtags">
          <div ng-repeat="tag in entry.tags"
               ng-class="tag.kind" class="wordtag" title="{{tag.desc}}">
            {{tag.tag}}
          </div>
        </div>
        <div ng-if="entry.known" class="definitiontoggle"
          ng-click="toggleShowDefinition(entry);">
          <div ng-if="!entry.show">
            You should already know this word. [...]
          </div>
          <div ng-if="entry.show">
            You should already know this word!
          </div>
        </div>
        <div ng-if="shouldShowDefinition(entry)">
          <div ng-if="entry.definitions.length == 1">
            <span class="reading">{{entry.definitions[0][0]}}</span>:
            {{entry.definitions[0][1]}}
          </div>
          <ul ng-if="entry.definitions.length > 1">
            <li ng-repeat="def in entry.definitions">
              <span class="reading">{{def[0]}}</span>: {{def[1]}}
            </li>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
</div>
