<div class="episode">
<episode-nav></episode-nav>
  
<div ng-if="vocabularyLists">
  <table ng-class="'{{listname}}'">
    <tr>
      <th>Word</th>
      <th>Tags</th>
      <th>Definition(s)</th>
      <th>Example</th>
    </tr>
    <tr ng-repeat="entry in vocabularyLists[listname]"
      ng-class="'defrow_' + ($index % 2)"
      >
      <td class="word">
        {{entry.word}}
      </td>
      <td>
        <div ng-repeat="tag in entry.tags"
        ng-class="tag.kind" class="wordtag" title="{{tag.desc}}">
          {{tag.tag}}
        </div>
      </td>
      <td>
        <!-- WIP
        <div ng-if="entry.known">Already known!</div>
          -->
        <div ng-if="entry.definitions.length == 1">
          <span class="reading">{{entry.definitions[0][0]}}</span>:
          {{entry.definitions[0][1]}}
        </div>
        <ul ng-if="entry.definitions.length > 1">
          <li ng-repeat="def in entry.definitions">
            <span class="reading">{{def[0]}}</span>: {{def[1]}}
          </li>
        </div>
      </td>
      <td class="example">{{entry.example.parts[0]}}<span class="example-highlight">{{entry.example.parts[1]}}</span>{{entry.example.parts[2]}}</td>
    </tr>
  </table>
</div>
</div>
