<h1>Geeky Dic</h1>

<div>Lists of Japanese words in:</div>
<ul>  
  <li><a href="#/conan/1">Detective Conan</a></li>
  <li><a href="#/miyazaki/1">Miyazaki's Movies</a></li>
  <li><a href="#/naruto/1">Naruto</a></li>
  <li><a href="#/onepiece/1">One Piece</a></li>
  <li><a href="#/skyrim/1">Skyrim</a></li>
</ul>  

<div>Cheat sheets per episode:</div>
<ul>
  <li ng-repeat="serie in series">
    {{serie.name}}:
    <span ng-repeat="episode in serie.episodes">
     <a href="#/{{serie.name}}/episode/{{episode}}">[{{episode}}]</a>, 
   </span>
  </li>
</ul>

<p>These were built from various dialogue & subtitle files. This version only contains Kanji words (actually, any sequence of several Kanji in a row, some of which are not words). When possible, the sentences are matched to the corresponsing English, which is usually a decent translation. Words are sorted by frequency.</p>

<p>The JLPT level of the kanji appearing in the word is also shown, and a link to a search for that word on <a href="http://jisho.org">Jisho</a>.</p>

<p>Other sites for using Skyrim to learn Japanese:</a>

<ul>
<li> <a href="http://www.evanseasyjapanese.com/skyrim.html">Evan's Easy Skyrim</a> (videos, some vocabulary lists)</li>
<li> <a href="http://livingjapanese.com/pages/skyrim.html">Living Japanese on Skyrim</a>  (review of it's value for learning; instructions on getting it on Steam)
</li>
</ul>