
<h1>{{source}}</h1>

<h2>Episodes</h2>

<span ng-repeat="episode in episodes">
  <a href="#/{{source}}/episode/{{episode}}">[{{episode}}]</a>, 
</span>

<h2>Learning Stats</h2>

<table class="statstable">
  <tr>
    <td ng-repeat="ep in statEpisodes">
      {{ep}}
    </td>
  </tr>
  <tr>
    <td ng-repeat="ep in statEpisodes">
      <div ng-repeat="key in ['known', 'tolearn', 'other']"
        ng-class="'stat-' + key" class="learningstat"
        ng-style="{height: learningStats[ep][key]}">
        {{learningStats[ep][key]}} words
      </div>
    </td>
  </tr>
</table>

<h2>JLPT Learning Stats</h2>

<table class="statstable">
  <tr>
    <th ng-repeat="ep in statEpisodes">
      {{ep}}
    </th>
  </tr>
  <tr>
    <td ng-repeat="ep in statEpisodes">
      <div ng-repeat="jlpt in [5, 4, 3, 2, 1, 0]">
          <!--
        {{jlpt}}
            -->
        <span ng-repeat="key in ['known', 'tolearn', 'other']"
          ng-class="'stat-' + key" class="learningstat"
          style="display: inline-block; height: 20px;"
          ng-style="{width: jlptLearningStats[ep][jlpt][key]}">
          <!--
          {{stats[jlpt][key]}}
            -->
        </span>
      </div>
    </td>
  </tr>
</table>
