<div><a href="/">Home</a></div>


<table>
    <th>
    </th>
    <th>
      <h1 class="seriestitle">{{source}}, Season 1</h1>
    </th>
    <th>
    </th>
  <tr ng-repeat="ep in episodes" href="#/guide/{{source}}/episode/{{ep}}"
    ng-click="goToEpisode(ep)" class="seriesline">
    <th>
      Episode&nbsp;{{ep}}
    </th>
    <td>
      <h2>{{episodeInfo[ep].KanjiTitle}}</h2>
      <div>{{episodeInfo[ep].EnglishTitle}}</div>
    </td>
    <td>
      <div class="tolearn">
        {{learningStats[ep].tolearn}} <br/>
        new words
      </div>
    </td>
  </tr>
</table>
