<div><a href="/">Home</a></div>

<h1>{{source}}, Season 1</h1>

<table class="statstable">
  <tr>
    <th>Episode</th>
    <th ng-repeat="jlpt in [5, 4, 3, 2, 1]">
      JLPT N{{jlpt}}
    </th>
    <th>
      not in JLPT
    </th>
  </tr>
  <tr ng-repeat="ep in statEpisodes">
    <th>
      <a href="#/{{source}}/episode/{{ep}}"
         title="{{episodeInfo[ep].EnglishTitle}}"
      >#{{ep}}: {{episodeInfo[ep].KanjiTitle}}</a>
    </th>
    <td ng-repeat="jlpt in [5, 4, 3, 2, 1, 0]">
        <span ng-repeat="key in ['known', 'tolearn', 'other']"
          ng-class="'stat-' + key" class="learningstat"
          style="display: inline-block; height: 20px;"
          ng-style="{width: jlptLearningStats[ep][jlpt][key]}">
        </span>
    </td>
  </tr>
</table>
