<h1>SKYRIM JAPANESE VOCABULARY</h1>

<div>
  <span ng-repeat="pagelink in pages">
    <span class="currentlink" ng-if="pagelink == page">
      [{{pagelink+1}}]
    </span>
    <a ng-if="pagelink != page" href="#/skyrim/{{pagelink+1}}">[{{pagelink+1}}]</a>
  </span> 
</div>

<table class="table">
  <tr>
    <th>#<span class="count">(count)</span></th>
    <th>Word</th>
    <th>Examples</th>
  </tr>
  <tr ng-repeat="word in words">
    <td title="Found {{word.count}} times">
      {{(100 * page) + $index + 1}}<span class="count">&nbsp;({{word.count}})</span>
    </td>
    <td>
      <div class="word">
        <a href="http://jisho.org/search/{{word.word}}">{{word.word}}</a>
      </div>
      <div class="jlpt" title="{{getJlptTitle(word.jlpt)}}">
        {{jlptSymbols[word.jlpt]}}
      </div>
    </td>
    <td>
      <div class="examples" title="{{word.example1en}}">
      {{word.example1jp}}
      </div>
      <div class="examples padtop" title="{{word.example2en}}">
      {{word.example2jp}}
      </div>
    </td>
  </tr>
</table>

