<div class="navlinks">
  Geekydic: 
  <a href="#/">home</a><span ng-repeat="othersource in sources">, 
    <a href="#/{{othersource.name}}/1">{{othersource.titleName}}</a></span>
</div>
<div ng-class="source.class" class="vocpage">
  <h1>JAPANESE WORDS FROM {{source.titleName.toUpperCase()}}</h1>

  <p>{{source.blurb}} 
  </p>

  <div>
    <span ng-repeat="pagelink in pages">
      <span class="currentlink" ng-if="pagelink == page">
        [{{maybePlusOne(pagelink)}}]
      </span>
      <a ng-if="pagelink != page" href="#/{{source.name}}/{{maybePlusOne(pagelink)}}">[{{maybePlusOne(pagelink)}}]</a>
    </span> 
  </div>

  <table class="table">
    <tr>
      <th>#<span class="count lowkey">(count)</span></th>
      <th>Word</th>
      <th>Examples</th>
    </tr>
    <tr ng-repeat="word in words">
      <td title="This word appears {{word.count}} times in {{source.tooltip}}.">
        {{(100 * page) + $index + 1}}<span class="count lowkey">&nbsp;({{word.count}})</span>
      </td>
      <td>
        <div class="word">
          <a href="http://jisho.org/search/{{word.word}}">{{word.word}}</a>
        </div>
        <div class="jlpt lowkey" title="{{getJlptTitle(word.jlpt)}}">
          {{jlptSymbols[word.jlpt]}}
        </div>
      </td>
      <td>
        <div class="examples" title="{{word.example1en}}">
          <img class="dialogarrow" src="images/nordicarrow.png">
          {{word.example1jp}}
        </div>
        <div class="examples padtop" title="{{word.example2en}}">
          <img class="dialogarrow" src="images/nordicarrow.png">
          {{word.example2jp}}
        </div>
      </td>
    </tr>
  </table>

  <div>
    <span ng-repeat="pagelink in pages">
      <span class="currentlink" ng-if="pagelink == page">
        [{{maybePlusOne(pagelink)}}]
      </span>
      <a ng-if="pagelink != page" href="#/{{source.name}}/{{maybePlusOne(pagelink)}}">[{{maybePlusOne(pagelink)}}]</a>
    </span> 
  </div>

  <div class="signature">Built by Emile Kroeger (<a href="http://themadmapmaker.wordpess.com">blog</a>, <a href="https://twitter.com/TheMadMapmaker">twitter</a>, <a href="https://github.com/EmileKroeger/">GitHub</a>)</div>
  
</div>
